P05-Waluty/waluty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="ArrayOfExchangeRatesTable">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ExchangeRatesTable" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ExchangeRatesTable" type="ExchangeRatesTable"/>
	
	<xs:complexType name="ExchangeRatesTable">
		<xs:sequence>
			<xs:element name="Table" type="xs:token"/>		
			<xs:element name="No" type="xs:token"/>		
			<xs:element name="EffectiveDate" type="xs:date"/>		
			<xs:element name="Rates">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Rate" type="Rate" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>		
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Rate">
		<xs:sequence>
			<xs:element name="Currency" type="xs:token"/>
			<xs:element name="Code" type="xs:token"/>
			<xs:element name="Mid" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
