waluty/waluty.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tns="http://vavatech.pl/waluty"
	targetNamespace="http://vavatech.pl/waluty">
	<wsdl:types>
		<xs:schema targetNamespace="http://vavatech.pl/waluty">
			<xs:import schemaLocation="waluty.xsd" />
			<xs:element name="pobierzTabeleDlaDaty">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="data" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pobierzTabeleDlaDatyResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ExchangeRatesTable" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pobierzBiezaceKursy">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="pobierzBiezaceKursyResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ExchangeRatesTable" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pobierzPrzedzial">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="poczatek" type="xs:token" />
						<xs:element name="koniec" type="xs:token" />
						<xs:element name="tabela" type="xs:token" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pobierzPrzedzialResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ArrayOfExchangeRatesTable" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="pobierzTabeleDlaDatyRequest">
		<wsdl:part name="parameter"
			element="tns:pobierzTabeleDlaDaty" />
	</wsdl:message>
	<wsdl:message name="pobierzTabeleDlaDatyResponse">
		<wsdl:part name="parameter"
			element="tns:pobierzTabeleDlaDatyResponse" />
	</wsdl:message>
	<wsdl:message name="pobierzBiezaceKursyRequest">
		<wsdl:part name="parameters"
			element="tns:pobierzBiezaceKursy"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="pobierzBiezaceKursyResponse">
		<wsdl:part name="parameters"
			element="tns:pobierzBiezaceKursyResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="pobierzPrzedzialRequest">
		<wsdl:part name="parameters"
			element="tns:pobierzPrzedzial"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="pobierzPrzedzialResponse">
		<wsdl:part name="parameters"
			element="tns:pobierzPrzedzialResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="Waluty">
		<wsdl:operation name="pobierzTabeleDlaDaty">
			<wsdl:input message="tns:pobierzTabeleDlaDatyRequest" />
			<wsdl:output message="tns:pobierzTabeleDlaDatyResponse" />
		</wsdl:operation>
		<wsdl:operation name="pobierzBiezaceKursy">
			<wsdl:input message="tns:pobierzBiezaceKursyRequest"></wsdl:input>
			<wsdl:output message="tns:pobierzBiezaceKursyResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="pobierzPrzedzial">
			<wsdl:input message="tns:pobierzPrzedzialRequest"></wsdl:input>
			<wsdl:output message="tns:pobierzPrzedzialResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WalutyBinding11" type="tns:Waluty">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="pobierzTabeleDlaDaty">
			<soap:operation soapAction="urn:pobierzTabeleDlaDaty" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="pobierzBiezaceKursy">
			<soap:operation soapAction="urn:pobierzBiezaceKursy" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="pobierzPrzedzial">
			<soap:operation soapAction="urn:pobierzPrzedzial" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WalutyService">
		<wsdl:port name="WalutyPort11" binding="tns:WalutyBinding11">
			<soap:address location="No target address" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>